.cardsContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en varias filas en pantallas más pequeñas */
  justify-content: center; /* Centra las tarjetas horizontalmente dentro del contenedor */
  grid-gap: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.card {
  width: 100px;
  margin-bottom: 10px;
}
