.mainimage {
  margin-top: 50px;
  display: inline-flex;
  flex-direction: column;
  width: 500px;
  height: 355px;
  background-repeat: no-repeat;
  animation: fadeIn 0.5s ease-in;
  background-color: #D6EEE3;
  border-radius: 10px;
  border-color: rgba(33, 130, 85, 0.5); /* Cambia el valor del color con opacidad */
  border-width: 2px;
  border-style: solid;
}

.nameandtype {
  position: relative;
  display: inline;
  justify-content: space-between;
  width: 20px;
  margin-right: 10px;
  padding-bottom: 100px;
  bottom:170px;
  left: 100px;
  margin-left: 105px;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
.image {
  width: 150px;
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
  min-width: 150px;
  height: 150px;
  
}
.conteinattackhp {
  position: relative;
  bottom: 140px;
  left: 90px;
  padding-bottom: 45px;
  
}
.info {
  display: flex;
  width: 60%;
  justify-content: space-between;
  position: relative;
  padding-left: 20%;
  justify-content: center;
  align-items: center;
  bottom: 130px;
}
.paragraph {
  color: black;
  visibility: hidden;
  opacity: 0;
  margin-right: 20px;
  padding-left: 20px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  font-weight: bold;
  text-transform: uppercase;
}
.containtbutton {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}
.iconwrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editbtn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 0.2px #00000035;
  box-shadow: 1px 1px 5px 0.2px #00000035;
  align-items: center;
  justify-content: space-between;
}
.editbtn:hover {
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.typeIcons {
  display: flex;
  justify-content: center;
}

.typeIcon {
  width: 80px; /* Ajusta el tamaño del icono según tus preferencias */
  height: 80px; /* Ajusta el tamaño del icono según tus preferencias */
  margin: 0 5px; /* Ajusta el espacio entre los iconos según tus preferencias */
}

.footer{
  margin-top: 114px;
}

.icon{
  height: 60px;
  width: 60px;
  margin-top: 30px;
}

.name{
  font-size: 30px;
  margin-left: -30px;
}