.card {
  width: 100px;
  height: 145px;
  background-color: #D6EEE3;
  border-radius: 10px;
  border-color: rgba(33, 130, 85, 0.5); /* Cambia el valor del color con opacidad */
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  margin: 10px; 
}

.card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 5px;
}

.card p:first-child {
  font-weight: bold;
}

.card::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .card {
    width: 160px;
    height: 220px;
    padding: 10px;
  }

  .card img {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
  }
}

.card .typeIcons {
  display: flex;
  justify-content: center;
}

.card .typeIcon {
  width: 30px; /* Ajusta el tamaño del icono según tus preferencias */
  height: 30px; /* Ajusta el tamaño del icono según tus preferencias */
  margin: 0px 5px 5px 5px; /* Ajusta el espacio entre los iconos según tus preferencias */
}

.name{
  text-decoration: none; /* Eliminar la decoración de subrayado */
  color: #103b3a; /* Heredar el color del texto del padre */
}