.button {
    margin-right: 10px;
    margin: 5px;
    margin-bottom: 10px;
    width: 105px;
    height: 40px;
    background: #2B7271;
    border-radius: 5px;
    outline: none;
    transition-duration: 0.4s;
    color: white; /* Cambia el color del texto a blanco */
    white-space: nowrap; /* Evita que el texto se ajuste automáticamente y se mantenga en una línea */
    overflow: hidden; /* Oculta el texto adicional si excede el ancho del botón */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si el texto se recorta */
  }

  .button:hover{
    cursor: pointer;
    color: white;
    background: #4ac4c2;
}