.paginado {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .paginado__button {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .paginado__button--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  @media (max-width: 768px) {
    .paginado {
      flex-wrap: wrap;
    }
  
    .paginado__button {
      margin: 5px;
    }
  }
  
  
  .card {
    width: 200px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }
  
  .card__image {
    width: 100%;
  }
  
  .card__name {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .card__types {
    margin-top: 5px;
  }
  
  .card__types img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .card__types span {
    margin-right: 5px;
  }
  
  .card__types span:last-child {
    margin-right: 0;
  }

  
  
  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 230px;
    
  }
  
  .loading img {
    width: 80px;
    height: 80px;
  }
  
  .loading p {
    margin-top: 10px;
  }