
.button{
    margin-right: 10px;
    margin: 5px;
    margin-bottom: 10px;
    width: 105px;
    height: 40px;
    background: #2B7271;
    border-radius: 5px;
    outline: none;
    transition-duration: 0.4s;
    color: white; /* Cambia el color del texto a blanco */
    white-space: nowrap; /* Evita que el texto se ajuste automáticamente y se mantenga en una línea */
    overflow: hidden; /* Oculta el texto adicional si excede el ancho del botón */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si el texto se recorta */
}
.button:hover{
    cursor: pointer;
    color: white;
    background: #4ac4c2;
}

.controls{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece una altura mínima igual al 100% del viewport */
  }
  
  .main {
    display: grid;
    grid-template-rows: 1fr auto; /* El contenido ocupa el espacio disponible y el footer se mantiene en una fila separada */
    min-height: 100vh;
    }
    
 