.container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("../../img/Fondolanding3.jpg");
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
  }
  
  